.figure-artist-mtppng {
    height: 475px;
    width: 397px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    max-width: 100%;
}

  .button-wrapper,
  .link-symbol,
  .link-symbol-wrapper,
  .list-item-link-linh {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .button-wrapper {
    align-self: stretch;
    flex-direction: row;
    gap: 0 52px;
    font-size: var(--font-size-smi);
    color: var(--color-darkslateblue-100);
  }

  .figure-artist-mtppng {
    height: 475px;
    width: 397px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    max-width: 100%;
  }

  .heading,
.heading-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.heading {
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.heading-wrapper {
  width: 974px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-20xl) var(--padding-13xl) var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: 35px;
  color: #212529;
  font-family: var(--font-roboto);
}